@page "/"
@addTagHelper*,Microsoft.AspNetCore.Mvc.TagHelpers
@model Chirp.Web.Pages.PublicModel
@using Microsoft.AspNetCore.Http.Extensions
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    @if (User.Identity?.IsAuthenticated == true)
    {
        <div class="cheep-container">
            <b class="warning">@TempData["message"]</b>
            <form method="post">
                <input asp-for="Form.Cheep" id="cheep" name="Cheep"
                    placeholder="What's on your mind, @(User.Identity!.Name)?" />
                <input type="hidden" name="returnUrl" value="@HttpContext.Request.GetDisplayUrl()" />
                <input type="submit" id="CheepSubmit" value="Cheep" asp-page-handler="Submit" />
            </form>
        </div>
    }

    @if (TempData.ContainsKey("timeline"))
    {
        <h2> @TempData["timeline"]'s Timeline </h2>
    }
    else
    {
        <h2> Public Timeline </h2>
    }


    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.TimelineEntities)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/?author=@cheep.Cheep.Author">@cheep.Cheep.Author</a>
                        </strong>
                        @cheep.Cheep.Text
                        <small>&mdash; @cheep.Cheep.Timestamp</small>

                        @if (User.Identity!.IsAuthenticated && User.Identity!.Name != cheep.Cheep.Author)
                        {

                            @if (Model.FollowedAuthorNames.Contains(cheep.Cheep.Author))
                            {
                            <form asp-page-handler="Unfollow" method="post" style="display:inline;">
                                <input type="hidden" name="author" value="@cheep.Cheep.Author" />
                                <input type="hidden" name="returnUrl" value="@HttpContext.Request.GetDisplayUrl()" />
                                <button type="submit"
                                    style="background:none;border:none;padding:0;margin:0;color:#007bff;
                                                                                                                                                                                                                        text-decoration:underline;cursor:pointer;font-size:0.8rem;">
                                    Unfollow
                                </button>
                            </form>
                        }
                        else
                        {
                            <form asp-page-handler="Follow" method="post" style="display:inline;">
                                <input type="hidden" name="author" value="@cheep.Cheep.Author" />
                                <input type="hidden" name="returnUrl" value="@HttpContext.Request.GetDisplayUrl()" />
                                <button type="submit"
                                    style="background:none;border:none;padding:0;margin:0;color:#007bff;
                                                                                                                                                                                                                        text-decoration:underline;cursor:pointer;font-size:0.8rem;">
                                    Follow
                                </button>
                            </form>
                        }
                    }

                    @foreach (var reply in Model.Replies[cheep.Cheep.Id])
                    {
                        <div class="replyContainer">
                            <a href="/?author=@reply.Author">@reply.Author</a>
                            @reply.Text
                        </div>
                    }

                    @if (User.Identity!.IsAuthenticated)
                    {
                        <div class="replyInputContainer">
                            <form asp-page-handler="Reply" method="post" style="display:inline;">
                                <input type="text" name="ReplyText"/>
                                <input type="hidden" name="CheepId" value="@cheep.Cheep.Id" />
                                <input type="hidden" name="Author" value="@User.Identity.Name" />
                                <input type="hidden" name="returnUrl" value="@HttpContext.Request.GetDisplayUrl()" />
                            </form>
                        </div>
                    }
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>

<center>
    <div class="pagingButtons">
        <!-- When return key is pressed on the page number input field  -->
        <button onclick="prev_page();">Previous</button>
        <input type="text" name="Page" id="PageInputField" value="@TempData["currentPage"]" />
        <button onclick="next_page();">Next</button>
    </div>
</center>

<script src="/js/pagination.js"></script>
