@page "/"
@addTagHelper*,Microsoft.AspNetCore.Mvc.TagHelpers
@model Chirp.Razor.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>


    @if (User.Identity?.IsAuthenticated == true)
    {
        <b class="warning">@TempData["message"]</b>
        <form method="post">
            <input required type="text" id="cheep" name="Cheep" placeholder="What's on your mind?">
            <input type="submit" id="CheepSubmit" value="Cheep" asp-page-handler="Submit"/>
        </form>
    }

    @if( TempData.ContainsKey("timeline") )
    {
        <h2> @TempData["timeline"]'s Timeline </h2>
    }
    else 
    {
        <h2> Public Timeline </h2>
    }


    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/?author=@cheep.Author">@cheep.Author</a>
                        </strong>
                        @cheep.Text
                        <small>&mdash; @cheep.Timestamp</small>
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>

<center>
<div class="pagingButtons">
    <!-- When return key is pressed on the page number input field  -->
    <button onclick="prev_page();">Previous</button>
    <input type="text" name="Page" id="PageInputField" value="@TempData["currentPage"]"/>
    <button onclick="next_page();">Next</button>
</div>
</center>

<script src="/js/pagination.js"></script>
