@page "/"
@addTagHelper*,Microsoft.AspNetCore.Mvc.TagHelpers
@model Chirp.Razor.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>


    @if (User.Identity?.IsAuthenticated == true)
    {
        <b class="warning">@TempData["message"]</b>
        <form method="post">
            <input required type="text" id="cheep" name="Cheep" placeholder="What's on your mind?">
            <input type="submit" value="Cheep" asp-page-handler="Submit"/>
        </form>
    }
    <h2> Public Timeline </h2>


    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/author/@cheep.Author">@cheep.Author</a>
                        </strong>
                        @cheep.Text
                        <small>&mdash; @cheep.Timestamp</small>
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>

<center>
<div class="pagingButtons">
    <form method="post">
        <!-- When return key is pressed on the page number input field  -->
        <input type="submit" asp-page-handler="GoToPage" style="display:none"/>

        <input type="submit" value="Previous" asp-page-handler="Previous">
        <input type="text" name="Page" id="Page" value="@TempData["currentPage"]">
        <input type="submit" value="Next" asp-page-handler="Next">
    </form>
</div>
</center>
