@using Microsoft.AspNetCore.Http.Extensions
@model Chirp.Web.Pages.PublicModel

@{int NumberOfRepliesShown = 3;}    

<ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/?author=@cheep.Author">@cheep.Author</a>
                        </strong>
                        @cheep.Text
                        <small>&mdash; @cheep.Timestamp</small>

                        @if (User.Identity!.IsAuthenticated && User.Identity!.Name != cheep.Author)
                        {

                            @if (Model.FollowedAuthorNames.Contains(cheep.Author))
                            {
                            <form asp-page-handler="Unfollow" method="post" style="display:inline;">
                                <input type="hidden" name="author" value="@cheep.Author" />
                                <input type="hidden" asp-for="ReturnUrl" />
                                <button type="submit"
                                    style="background:none;border:none;padding:0;margin:0;color:#007bff;
                                                                                                                                                                                                                        text-decoration:underline;cursor:pointer;font-size:0.8rem;">
                                    Unfollow
                                </button>
                            </form>
                        }
                        else
                        {
                            <form asp-page-handler="Follow" method="post" style="display:inline;">
                                <input type="hidden" name="author" value="@cheep.Author" />
                                <input type="hidden" asp-for="ReturnUrl" />
                                <button type="submit"
                                    style="background:none;border:none;padding:0;margin:0;color:#007bff;
                                                                                                                                                                                                                        text-decoration:underline;cursor:pointer;font-size:0.8rem;">
                                    Follow
                                </button>
                            </form>
                        }
                    }

                    @if (Model.Replies[cheep.Id].Any())
                    {
                        <br><b>Replies</b>
                    }

                    @foreach (var reply in Model.Replies[cheep.Id].Take(NumberOfRepliesShown))
                    {
                        <div class="replyContainer">
                            <a href="/?author=@reply.Author">@reply.Author</a>
                            @reply.Text
                        </div>
                    }
                    @if (Model.Replies[cheep.Id].Count() > NumberOfRepliesShown)
                    {
                        <div class="collapsedReplies">
                            @foreach (var reply in Model.Replies[cheep.Id].Skip(NumberOfRepliesShown))
                            {
                                <div class="replyContainer">
                                    <a href="/?author=@reply.Author">@reply.Author</a>
                                    @reply.Text
                                </div>      <input type="hidden" asp-for="ReturnUrl" />
                            }
                        </div>
                        <a class="collapseButton">Show remaining replies</a><br>
                    }

                    @if (User.Identity!.IsAuthenticated)
                    {
                        <div class="displayReplyInputButton" onclick="toggle_reply_input(this);">
                            <a>Reply</a>
                        </div>
                        <div class="replyInputContainer" style="display:none;">
                            <form asp-page-handler="Reply" method="post" style="display:inline;">
                                <input type="text" name="ReplyText" class="ReplyInputField"/>
                                <input type="submit" name="ReplySubmit" value="Reply" class="ReplySubmitButton"/>
                                <input type="hidden" name="CheepId" value="@cheep.Id" />
                                <input type="hidden" name="Author" value="@User.Identity.Name" />
                                <input type="hidden" asp-for="ReturnUrl" />
                            </form>
                        </div>
                    }
                    </p>
                </li>
            }
        </ul>
    }